@use "@/styles/breakpoints" as *;
@use "@/styles/variables" as *;

.card {
  padding: 32px;
  background-color: var(--bg-color-secondary);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media(min-width: $lg-breakpoint) {
    padding: 42px 56px;
  }
}

.title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: $fs-xl;
  line-height: $lh-xs;
  letter-spacing: -3%;

  @media(min-width: $lg-breakpoint) {
    font-size: $fs-3xl;
  }
}

.subtitle {
  color: var(--color-translucent);
  font-weight: 400;
  letter-spacing: 0%;

  @media(min-width: $lg-breakpoint) {
    font-size: $fs-md;
  }
}