@use "@/styles/breakpoints" as *;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $sm-breakpoint) {
    max-width: 640px;
  }

  @media (min-width: $md-breakpoint) {
    max-width: 980px;
    padding: 0 40px;
  }

  @media (min-width: $lg-breakpoint) {
    max-width: 1280px;
  }
}